05. Wcf/WcfClient/Service References/ServiceStringCounter/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CountStringAppearances">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="textPart" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fullText" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CountStringAppearancesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CountStringAppearancesResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>